---
export const prerender = false;
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="RadioBobba - Equipo">
    <div class="text-center text-white">
        Próximamente...
    </div>
</BaseLayout>
