---
export const prerender = false;
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="RadioBobba - Inicio">
    <div class="text-center text-white">Próximamente...</div>
</BaseLayout>
